= form_for [@imageable, @image], html: {multipart: true} do |f|
  %br
  = f.label :image, "Upload Image(s)"
  = file_field_tag :image, multiple: true, name: "image[image]", class: 'col-centered'
  %br
/ = f.submit "Save", class: 'btn btn-primary', id: 'new_image_button'