= form_for [@imageable, @image] do |f|
  %br
  = f.label :image, "Upload Image(s)", class: 'text-center'
  = f.file_field :image, class: 'col-centered'
  %br
  = f.submit "Save", class: 'btn btn-primary', id: 'new_image_button'