.row
  - @images.each do |image|
    .col-md-4.text-center
      %a{:href => '#', :class => 'thumbnail'} 
        = image_tag(image.image_url(:small))
      %p= link_to "Delete", [@imageable, image], method: :delete, confirm: 'Are you sure?'